name: CI

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    name: 'Build - Test - [Publish]'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - uses: pnpm/action-setup@e9540b3eafaf84907c087a645d3258bfaa861427 # v3.0.0
        with:
          version: 8.x
          run_install: false

      - uses: actions/setup-node@cdca7365b2dadb8aad0a33bc7601856ffabcc48e # v4.3.0
        with:
          node-version-file: '.nvmrc'
          registry-url: https://registry.npmjs.org/
          cache: 'pnpm'

      - run: pnpm run setup

      - run: pnpm --filter=@hcaptcha/vanilla-hcaptcha run build

      - run: pnpm --filter=\!@hcaptcha/vanilla-hcaptcha run build

      - run: pnpm typecheck

      - run: pnpm test

      - run: cp README.md CHANGES.md packages/vanilla-hcaptcha

      - name: 'Publish'
        if: contains('refs/heads/master', github.ref)
        run: pnpm --filter=@hcaptcha/vanilla-hcaptcha --no-git-checks publish
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_AUTH_TOKEN }}
